@model List<Parking.DTO.TransportationDTO>

@{
    ViewBag.Title = "My Parking System";
}

<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">My Parking System</div>
            </div>

            <div style="padding-top:30px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form class="form-horizontal" role="form" id="formTicket" name="formTicket" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="Id" name="Id" />
                    <div class="form-group">
                        <label for="inputTicketCode" class="col-sm-2 col-form-label">Kode Tiket</label>
                        <div class="col-sm-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="ticketCode" type="text" readonly class="form-control" name="ticketCode" value="" placeholder="Kode Tiket">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTransportation" class="col-sm-2 col-form-label">Jenis</label>
                        <div class="col-sm-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <select id="transportationId" name="transportationId" class="form-control" required>
                                    @foreach (var transportation in Model)
                                    {
                                        <option value="@transportation.Id">@transportation.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPlateNumber" class="col-sm-2 col-form-label">Plat No</label>
                        <div class="form-row ">
                            <div class="col-sm-2 ">
                                <input type="text" class="form-control" id="plateNumberFirst" name="plateNumberFirst" maxlength="3" placeholder="AAA">
                            </div>
                            <div class="col-sm-3 " style="margin-left:-25px">
                                <input class="form-control" id="plateNumberMiddle" name="plateNumberMiddle" maxlength="5" inputmode="numeric" type="number" placeholder="99999">
                            </div>
                            <div class="col-sm-2" style="margin-left:-25px">
                                <input type="text" class="form-control" id="plateNumberLast" name="plateNumberLast" maxlength="3" placeholder="XXX">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCheckin" class="col-sm-2 col-form-label">Jam Masuk</label>
                        <div class="col-sm-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input id="checkIn" type="text" class="form-control datepicker" name="checkIn" value="" placeholder="Jam masuk" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCheckOut" class="col-sm-2 col-form-label">Jam Keluar</label>
                        <div class="col-sm-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input id="checkOut" type="text" class="form-control datepicker" name="checkOut" value="" placeholder="Jam keluar">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputDuration" class="col-sm-2 col-form-label">Durasi</label>
                        <div class="col-sm-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                <input id="duration" type="text" class="form-control timepicker" name="duration" value="" placeholder="Durasi" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAmount" class="col-sm-2 col-form-label">Tarif Parkir</label>
                        <div class="col-sm-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">Rp</span>
                                <input id="amount" type="text" class="form-control" readonly name="amount" value="" placeholder="Tarif">
                            </div>
                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <input type="submit" id="save" name="save" class="btn btn-success" value="Save" />
                            <input type="button" id="cancel" name="cancel" class="btn btn-success" value="Cancel" onclick="SetAttribute('disabled')" />

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>
    <div class="mainbox col-md-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">List Parking</div>
            </div>

            <div style="padding-top:30px" class="panel-body">
                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <a id="btn-login" href="@Url.Action("Print","Parking")" class="btn btn-success">Print  </a>
                        <button name="New" id="New" class="btn btn-primary" onclick="print"> New</button>
                        <input type="button" name="Delete" id="Delete" class="btn btn-primary" value="Delete" onclick="Delete()">
                    </div>
                </div>
                <br />
                <br />
                <table id="datatables" class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>No</th>
                            <th>Kode Tiket</th>
                            <th>Jenis</th>
                            <th>Plat No</th>
                            <th>Jam Masuk</th>
                            <th>Jam Keluar</th>
                            <th>Durasi</th>
                            <th>Tarif Parkir</th>
                            <th>Edit</th>
                        </tr>

                    </thead>

                </table>


            </div>


        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<style>
    #formTicket label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
        color:red;
    }
</style>
<script type="text/javascript">
    $.validator.setDefaults({
        submitHandler: function () {
            alert("submitted!");
        }
    });

    $.validator.addMethod(
        "australianDate",
        function (value, element) {
            var dateReg = /^\d{2}([./-])\d{2}\1\d{4}$/;
            return value.match(dateReg);
        },
        "Invalid date"
    );

    function Calculate() {
        try {
            var endDateValue = $("#checkOut").val();

            if (Date.parse(endDateValue)) {
                var dateStart = new Date($("#checkIn").val());
                var endDate = new Date(endDateValue);
                var hours = Math.round(Math.abs(dateStart - endDate) / 36e5);
                var type = $("#transportationId option:selected").text();;
                var fee = 0;

                if (type == "Motor") {
                    fee = 2000;
                } else {
                    fee = 3000;
                }
                var duration = secondsToHMS((endDate - dateStart) / 1000);
                console.log(duration);
                $("#duration").val(duration);
                $("#amount").val(hours * fee);
            } else {
                $("#duration").val("");
                $("#amount").val("");
            }

        } catch (e) {
            $("#duration").val("");
            $("#amount").val("");
            alert(e);
        }
    }

    $(document).ready(function () {

        $("#transportationId").change(function () {
            Calculate();
        })
        $('#checkIn').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss'
        });

        $('#checkOut').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',

        }).on('dp.change', function (event) {
            if (event.date) {
                Calculate();
            } else {
                $("#duration").val("");
                $("#amount").val("");
            }

        });


        $('.timepicker').datetimepicker({
            format: 'HH:mm:ss'
        });

        SetAttribute('disabled');

        $('#datatables').DataTable({
            "bServerSide": true,
            "bProcessing": true,
            "bSearchable": true,
            ajax: {
                url: '@Url.Action("GetAll", "Parking")',
                type: "POST"
            },
            columns: [

                {
                    "data": "Id",
                    render: function (data, type, row, meta) {
                        return '<input type="checkbox" name="check_' + row.Id + '" id="check_' + row.Id + '" value="' + row.Id + '">';
                    },
                    "orderable": false
                },
                {
                    "data": "Id",
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    },
                    "orderable": false
                },
                {
                    data: 'TicketCode', name: 'TicketCode',
                    "orderable": false
                },
                { data: 'Transportation.Name', name: 'Transportation', "orderable": false },
                {
                    data: 'PlateNumber',
                    render: function (data, type, row, meta) {
                        return row.PlateNumberFirst + " " + row.PlateNumberMiddle + " " + row.PlateNumberLast;
                    },
                    "orderable": false
                },
                {
                    data: 'CheckIn',
                    render: function (data, type, row, meta) {
                        return parseJsonDate(row.CheckIn);
                    },
                    "orderable": false
                },
                {
                    data: 'CheckOut',
                    render: function (data, type, row, meta) {
                        if (row.CheckOut == null) { return '-'; }
                        return parseJsonDate(row.CheckOut);
                    },
                    "orderable": false
                },
                {
                    data: 'Duration',
                    render: function (data, type, row, meta) {
                        if (row.Duration == null) { return '-'; }
                        if (Date.parse(row.CheckOut)) {
                            return secondsToHMS((new Date(row.CheckOut) - new Date(row.CheckIn)) / 1000).substr(0,8);
                        } else {
                            return '-';
                        }
                    },
                    "orderable": false
                },
                {
                    data: 'Amount',
                    render: $.fn.dataTable.render.number(',', '.', 2),
                    "orderable": false
                },
                {
                    data: 'Amount',
                    render: function (data, type, row, meta) {
                        return '<input type="button" value="Edit" class="btn btn-warning" onclick="Edit(' + row.Id + ')"/>';
                    },
                    "orderable": false
                },

            ],

        });



        $("#formTicket").validate({
            rules: {
                ticketCode: {
                    required: true,
                },
                transportationId: {
                    required: true,
                },
                plateNumberFirst: {
                    required: true,
                    minlength: 1
                },
                plateNumberMiddle: {
                    required: true,
                    minlength: 2
                },
                plateNumberLast: {
                    required: true,
                    minlength: 1
                },
            },
            messages: {
                plateNumberFirst: {
                    required: "Please enter first",
                },
                plateNumberMiddle: {
                    required: "Please enter middle",
                },
                plateNumberLast: {
                    required: "Please enter last",
                },
            },
            submitHandler: function (form) {
                var dataForm = $('#formTicket').serialize();
                var secs = 0;
                if (Date.parse($("#checkOut").val())) {
                    secs = Math.abs((new Date($("#checkOut").val())) - (new Date($("#checkIn").val()))) / 1000;
                    dataForm += "&DurationTick=" + secs;
                    console.log(secs);
                }
                var id = $("#Id").val();
                if (confirm("Are you sure to save data?")) {

                    if (id == "") {
                        $.ajax({
                            url: '@Url.Action("Create", "Parking")',
                            type: "POST",
                            data: dataForm,
                            success: function (response) {
                                if (response.ResponseCode == "200") {
                                    $('#datatables').DataTable().ajax.reload();
                                    SetAttribute("disabled");
                                    alert("Data successfully save!");
                                } else {
                                    alert(response.ResponseMessage);
                                }
                            }
                        });
                    } else {
                        $.ajax({
                            url: '@Url.Action("Edit", "Parking")',
                            type: "POST",
                            data: dataForm,
                            success: function (response) {
                                if (response.ResponseCode == "200") {
                                    $('#datatables').DataTable().ajax.reload();
                                    SetAttribute("disabled");
                                    alert("Data successfully udpate!");
                                } else {
                                    alert(response.ResponseMessage);
                                }
                            }
                        });
                    }
                }
            }
        });

        $("#New").click(function (e) {
            GetCode();
            SetAttribute('enabled');
            $("#checkIn").val(moment(new Date()).format("YYYY-MM-DD HH:mm:ss"));
            window.scrollTo({ top: 0, behavior: 'smooth' });
            $("#plateNumberFirst").focus();
        });


        function GetCode() {
            $.ajax({
                url: '@Url.Action("GetCode", "Parking")',
                cache: false,
                success: function (response) {
                    if (response.ResponseCode == "200") {
                        $("#ticketCode").val(response.ResponseData);
                    } else {
                        alert(response.ResponseMessage);
                    }
                }
            });
        }



    });

    function SetAttribute(oValue) {
        switch (oValue) {
            case 'enabled':
                $("#transportationId").prop("disabled", false);
                $("#plateNumberFirst").prop("readonly", false);
                $("#plateNumberMiddle").prop("readonly", false);
                $("#plateNumberLast").prop("readonly", false);
                $("#checkOut").prop("readonly", false);
                $("#save").prop("disabled", false);
                $("#cancel").prop("disabled", false);
                break;
            default:
                $("#Id").val("");
                $("#ticketCode").val("");
                $("#plateNumberFirst").val("");
                $("#plateNumberMiddle").val("");
                $("#plateNumberLast").val("");
                $("#checkIn").val("");
                $("#checkOut").val("");
                $("#duration").val("");
                $("#amount").val("");

                $("#transportationId").prop("disabled", true);
                $("#plateNumberFirst").prop("readonly", true);
                $("#plateNumberMiddle").prop("readonly", true);
                $("#plateNumberLast").prop("readonly", true);
                $("#checkOut").prop("readonly", true);
                $("#save").prop("disabled", true);
                $("#cancel").prop("disabled", true);
                break;
        }
    }

    function parseJsonDate(strDate) {
        return moment(new Date(strDate)).format("YYYY-MM-DD HH:mm:ss");
    };

    function Edit(_id) {
        try {
            SetAttribute('disabled');
            $.ajax({
                url: '@Url.Action("Details", "Parking")',
                data: { id: _id },
                cache: false,
                success: function (response) {
                    if (response.ResponseCode == "200" && response.ResponseData !== null) {
                        SetAttribute('enabled');
                        //bind data
                        $("#Id").val(response.ResponseData.Id);
                        $("#ticketCode").val(response.ResponseData.TicketCode);
                        $("#transportationId").val(response.ResponseData.TransportationId);
                        $("#plateNumberFirst").val(response.ResponseData.PlateNumberFirst);
                        $("#plateNumberMiddle").val(response.ResponseData.PlateNumberMiddle);
                        $("#plateNumberLast").val(response.ResponseData.PlateNumberLast);
                        if (response.ResponseData.CheckIn != null) {
                            $("#checkIn").val(parseJsonDate(response.ResponseData.CheckIn));
                        }
                        if (response.ResponseData.CheckOut != null) {
                            $("#checkOut").val(parseJsonDate(response.ResponseData.CheckOut));
                        }
                        $("#duration").val(response.ResponseData.Duration);
                        $("#amount").val(response.ResponseData.Amount);
                        Calculate();
                        window.scrollTo({ top: 0, behavior: 'smooth' });

                    } else {
                        alert(response.data.ResponseMessage);
                    }
                }
            });
        } catch (e) {
            alert(e);
        }
    }

    function Delete() {
        try {
            var selected = new Array();
            $('#datatables input[type="checkbox"]:checked').each(function () {
                selected.push($(this).attr('id'));
            });
            var deleted = 0;
            if (selected.length === 0) {
                alert('No data selected!');
            }
            else {
                if (confirm("Are you sure to delete data?")) {
                    $('#datatables input[type="checkbox"]:checked').each(function () {
                    var _id = ($(this).attr('value'));

                    $.ajax({
                        url: '@Url.Action("Delete", "Parking")',
                        dataType: "json",
                        type: "POST",
                        data: { id: _id },
                        cache: false,
                        async: false,
                        success: function (response) {
                            if (response.ResponseCode == "200") {
                                deleted++;
                            } else {
                                alert(response.data.ResponseMessage);
                            }
                        }
                    });
                });
                if (deleted > 0) {
                    alert("Data successfully deleted!")
                    $('#datatables').DataTable().ajax.reload();
                }
                }

            }



        } catch (e) {
            alert(e);
        }
    }

    function secondsToHMS(secs) {
        function z(n) { return (n < 10 ? '0' : '') + n; }
        var sign = secs < 0 ? '-' : '';
        secs = Math.abs(secs);
        return sign + z(secs / 3600 | 0) + ':' + z((secs % 3600) / 60 | 0) + ':' + z(secs % 60);
    }

</script>
